GOOGLE_API_KEY=your_google_api_key_here
OPENAI_API_KEY=your_openai_api_key_here

CHROMA_API_KEY=ck-C4Sen12CPpCnTT3UTw3NLzHeR9vMt2D8xVWMVDmr9WM4
CHROMA_TENANT=aca727ff-a3d7-4d72-855d-88c471ec9d52
CHROMA_DATABASE=husta8